body {
  font-family: Consolas;
  background-color: #f6eace;
  color: #c9d1d9;
}

h1 {
  color: #da5f43;
  text-shadow: 7px 7px 7px rgb(94, 86, 25);
}
a {
  color: #8b949e;
  text-decoration: none;
}
a:hover {
  color: #bcc091;
  font-size: 20px;
  text-shadow: 7px 7px 7px rgb(192, 162, 104);
  font-weight: bold;
}
a::after {
  content: "🌐";
}
ul > li {
  font-weight: bold;
  text-shadow: 7px 7px 10px blue;
}
ul li:hover {
  color: #4f8cc9;
  text-shadow: 7px 7px 7px blueviolet;
  font-size: 20px;
  background-color: #21262d;
}
ul li::before {
  content: "😑";
}
dl li:nth-child(:hover) {
  background-color: #21262d;
}
h1::first-letter {
  font-size: 200%;
  color: #ff7b72;
}
